body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
}

.login-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #363635;
    margin-bottom: 30px;
}

.admin-login-form {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.admin-login-form input[type="text"],
.admin-login-form input[type="password"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


.admin-login-form button {
    background-color: #363635;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.admin-login-form button:hover {
    background-color: #ff6347;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

footer {
    background: #363635;
    color: #ccc;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 20px;
}
